body {
  background-color: #11071f;
  color: #fff;
}
.nav-items {
  cursor: pointer;
}
.container {
  color: #e5e5e5;
}

.my-text-animation {
  height: 2.7rem;
  overflow: hidden;
  margin-top: 1rem;
  margin: auto;
  border-radius: 3rem;
}

.my-text-animation > div > p {
  height: 2.81rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 2.81rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
}

.my-text-animation div:first-child {
  animation: text-animation 13s infinite;
}
.my-text-animation p {
  background-color: #ffffffd0;
  /* color: black; */
  color: #923b3b;
  font-weight: bold;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.795);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
}
@keyframes text-animation {
  0% {
    margin-top: 0;
  }

  10% {
    margin-top: -5.71rem;
  }
  15% {
    margin-top: -5.71rem;
  }
  20% {
    margin-top: -11.2rem;
  }
  25% {
    margin-top: -11.2rem;
  }
  30% {
    margin-top: -16.99rem;
  }
  35% {
    margin-top: -16.99rem;
  }
  40% {
    margin-top: -22.6rem;
  }
  45% {
    margin-top: -22.6rem;
  }
  50% {
    margin-top: -16.94rem;
  }
  55% {
    margin-top: -16.94rem;
  }
  60% {
    margin-top: -11.2rem;
  }
  65% {
    margin-top: -11.2rem;
  }
  70% {
    margin-top: -5.72rem;
  }
  75% {
    margin-top: -5.72rem;
  }
  85% {
    margin-top: 0;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
